<p>Add New Song</p>
<form action="/tracks" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="name">Song Name</label>
  <input type="text" id="name" name="track[name]">
  <br>
  <label for="lyrics">Song Lyrics</label>
  <textarea name="track[lyrics]" id="lyrics">Enter lyrics here...</textarea>
  <br>
  <select name="track[album_id]" id="album_id">
    <% Album.all.each do |album| %>
      <% if album.id == @track.album_id %>
      <!-- can't do album.id == params[:album_id] -->
        <option value="<%= album.id %>" selected><%= album.name %></option>
      <% end %>
      <option value="<%= album.id %>"><%= album.name %></option>
    <% end %>
  </select>
  <br>
  <input type="radio" id="regular" name="track[genre]" value="bonus">
  <label for="regular">Regular</label>
  <input type="radio" id="bonus" name="track[genre]" value="bonus">
  <label for="bonus">Bonus</label>
  <br>
  <input type="submit" value="Add Song">
</form>
