<h2><%= @band.name %></h2>
<%= link_to "Edit band", edit_band_url %>
<%= button_to "Delete band", band_url(@band), method: :delete %>

<p>Band's albums</p>
<ul>
  <% @band.albums.each do |album| %>
    <li><%= link_to album.name, album_url(album) %></li>
  <% end %>
</ul>

<p><%= link_to "Add more albums", new_band_album_url(@band.id) %></p>
<p><%= link_to "Back to all bands", bands_url %></p>
